/* primary section style */

* {
  font-family: "Work Sans", sans-serif;
  margin: 0%;
  padding: 0%;
}
.primary-btn {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  border-radius: 8px;
  background: #ff900e;
  padding: 20px 25px;
  border: none;
}

.dispription {
  color: #727272;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  padding-top: 24px;
  padding-bottom: 32px;
}
section{
  margin-bottom: 130px;
}
/* header style */
header {
  background-color: rgba(255, 144, 14, 0.1);
  padding: 50px 240px;
}

/* nav section style */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav > ul {
  display: flex;
}
ul li {
  list-style: none;
  font-size: 18px;
  font-weight: 500;
  margin-right: 30px;
  line-height: 26px;
}
ul a {
  color: #424242;
  text-decoration: none;
}
.nav-tital {
  color: #131313;
  font-size: 45px;
  font-weight: 700;
}

/* banner section style */
.banner-contant {
  max-width: 862px;
  margin: auto;
  text-align: center;
  margin-top: 102px;
  margin-bottom: 50px;
  padding: 102px 300px 50px 300px;
}
.banner-tital {
  color: #131313;
  font-size: 4rem;
  font-weight: 700;
}
.banner-dispription {
  padding-top: 24px;
  padding-bottom: 32px;
}
.banner .banner-img {
  margin-top: 50px;
  width: 100%;
}

/* main section style */
.main {
  color: #ffffff;
  max-width: 1440;
  margin: 0 auto;
}
/* Quick list of Our Features section style */
.team-container {
  margin-top: 85px;
  padding: 0px 280px;
  gap: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.team-img-container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}

.team-img-container img {
  width: 100%;
}

.team-tital {
  max-width: 468px;
  color: #727272;
  font-size: 45px;
  font-weight: 500;
}
.team-discription {
  width: 537px;
  padding-top: 24px;
}
.of-Our {
  color: #131313;
}
.Features {
  color: #ff900e;
}

/* Features you will love & enjoy section style */
.features {
  display: flex;
  padding: 0px 240px;
  gap: 80px;
  /* align-items: center;  */
}
.features-tital {
  color: #131313;
  font-size: 45px;
  font-weight: 700;
}

.card-tital {
  color: #131313;
  font-size: 20px;
  font-weight: 600;
}
.card-dispription{
  padding-top: 10px;
}

.features img{
  width: 100%;
}







/* responsive media  queris*/
.hide {
  display: none;
}
/* mobile device */
@media screen and (max-width: 576px) {
  header {
    padding: 20px;
  }
  nav {
    flex-direction: column;
    gap: 30px;
  }

  /* team reponsive */
  .team-container {
    padding: 30px;
    flex-direction: column-reverse;
  }
  .team-img-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

/* tablet or medium devies */

@media screen and (min-width: 576px) and (max-width: 768px) {
  header {
    padding: 60px;
  }
  nav {
    flex-direction: column;
    gap: 40px;
  }

  /* team reponsive */
  .team-container {
    padding: 20px;
    flex-direction: column-reverse;
  }
  .team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

/* extra learg device */
@media screen and (min-width: 768px) and (max-width: 992px) {
  header {
    padding: 100px;
  }
  nav {
    flex-direction: column;
    gap: 60px;
  }

  /* team reponsive */
  .team-container {
    padding: 80px;
    flex-direction: column-reverse;
  }
  .team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

/*max extra learg device */

@media screen and (min-width: 992px) and (max-width: 1200px) {
  nav {
    flex-direction: column;
    gap: 60px;
  }

  /* team reponsive */
  .team-container {
    padding: 60px 260px;
    flex-direction: column-reverse;
  }
  .team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
